{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python-{{ title }}</title>
    <link type="text/css" href="{% static 'news/css/base.css' %}" rel="stylesheet" />
   <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
{% block menu %}
<div class="menu">
    <ul class="main-menu">
        <li><a href="{% url 'news:home' %}"><img class="logo" src="{% static 'news/images/python.svg' %}" alt="pt"></a></li>
<!--        <li class="logo"><a href="#"><div class="logo"></div></a></li>-->
        {% for item in menu %}
            {% if not forloop.last  %}
                <li><h3><a href="{% url item.url_name %}">{{ item.title }}</a></h3></li>
            {% else %}
                <li class="last"><h3><a href="{% url item.url_name %}">{{ item.title }}</a></h3></li>
<!--                  <li><a href="#"></a><img  src= alt="python" class="python-logo"></li>-->
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="side-bar">
    <h3>Категорії</h3>
    {% for item in category %}
        <a href="{{ item.get_absolute_url }} ">{{ item }}</a>
    {% endfor %}
</div>


{% endblock  %}

{% block title %}
<div class="main">
  <h1> {{ title }} </h1>
</div>
{% endblock  %}

{%  block content %}
{%  endblock %}

</body>
</html>